services:
  mariadb:
    container_name: stdozor-nette-mariadb
    image: mariadb:11.2
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: root_password
      MARIADB_DATABASE: stdozor_nette
      MARIADB_USER: stdozor
      MARIADB_PASSWORD: stdozor_password
    ports:
      - "3307:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - app_net

  php:
    container_name: stdozor-nette-php
    build:
      context: ./docker/php
      args:
        USER_ID: ${USER_ID:-1000}
        GROUP_ID: ${GROUP_ID:-1000}
    restart: unless-stopped
    volumes:
      - .:/var/www/html
    depends_on:
      - mariadb
    networks:
      - app_net

  nginx:
    container_name: stdozor-nette-nginx
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "8081:80"
      - "8443:443"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./docker/nginx/ssl:/etc/nginx/ssl:ro
    depends_on:
      - php
    networks:
      - app_net

  mailpit:
    container_name: stdozor-nette-mailpit
    image: axllent/mailpit:latest
    restart: unless-stopped
    ports:
      - "8026:8025"
      - "1026:1025"
    environment:
      MP_MAX_MESSAGES: 500
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
    networks:
      - app_net

volumes:
  mariadb_data:

networks:
  app_net:
