parameters:
	webauthn:
		rpId: localhost
		rpName: STDozor
		allowedOrigins:
			- https://localhost:8443
			- https://localhost
	trustedDevice:
		secret: change-this-to-a-random-secret-in-production


application:
	errorPresenter: Error
	mapping:
		*: App\Presenters\*Presenter


session:
	name: stdozorsid
	expiration: 14 days


database:
	dsn: 'mysql:host=mariadb;dbname=stdozor_nette;charset=utf8mb4'
	user: stdozor
	password: stdozor_password


mail:
	smtp: true
	host: mailpit
	port: 1025


latte:
	extensions:
		- Latte\Essential\RawPhpExtension

services:
	latte.latteFactory:
		setup:
			- addFilter(money, [App\Model\Latte\Filters, money])
			- addFilter(moneyAmount, [App\Model\Latte\Filters, moneyAmount])
			- addFilter(statusBadgeClass, [App\Model\Latte\Filters, statusBadgeClass])
			- addFilter(statusLabel, [App\Model\Latte\Filters, statusLabel])
			- addFilter(categoryStatusBadgeClass, [App\Model\Latte\Filters, categoryStatusBadgeClass])
			- addFilter(categoryStatusLabel, [App\Model\Latte\Filters, categoryStatusLabel])
			- addFilter(decimalMoney, [App\Model\Latte\Filters, decimalMoney])
			- addFilter(fileSize, [App\Model\Latte\Filters, fileSize])


extensions:
	translation: Contributte\Translation\DI\TranslationExtension


translation:
	locales:
		default: cs
		fallback: [cs]
	dirs:
		- %appDir%/../translations
