services:
	- App\Router\RouterFactory::createRouter
	- App\Model\Repository\UserRepository
	- App\Model\Security\UserAuthenticator
	- App\Model\Security\EmailVerificationService
	- App\Model\Security\PasswordResetService
	- App\Model\Security\PwnedPasswordChecker
	- App\Model\Security\MailService
	- App\Model\Repository\ProjectRepository
	- App\Model\Repository\ProjectMemberRepository
	- App\Model\Repository\CategoryRepository
	- App\Model\Repository\ItemRepository
	- App\Model\Service\CategoryAmountCalculator
	- App\Model\Repository\ProjectInvitationRepository
	- App\Model\Repository\CategoryPermissionRepository
	- App\Model\Service\InvitationService
	- App\Model\Repository\AttachmentRepository
	- App\Model\Service\AttachmentService(uploadDirectory: %wwwDir%/uploads)
	- App\Controls\CategoryList\ICategoryListControlFactory
